body {
  font-family: 'Arial', sans-serif;
  padding-top: 56px; /* Compensar a altura da navbar fixa */
}

.navbar{
  padding: 0 20px 0 20px;
}
.navbar-brand img {
  max-height: 50px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

header {
  background: url(/assets/milad-fakurian-58Z17lnVS4U-unsplash.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 0;
}

header h1 {
  font-size: 3.5rem;
}

header p {
  font-size: 1.5rem;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

#sobre p, #newsletter p, #contato p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

form .form-group label {
  font-weight: bold;
}

#emailNewsletter{
  width: 400px;
}

form .form-group input, form .form-group textarea {
  border-radius: 0.25rem;
}

#nome, #email, #mensagem {
  margin-top: 8px;
}

footer {
  background-color: #343a40;
  color: white;
}

footer small {
  color: rgba(255, 255, 255, 0.5);
}